<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title urr">مال روکڑ خرید</h4>
                <p class="category urr">یہاں مال روکڑ خرید کی تفصیل درج کریں</p>                
                <div class="btn-right" style="float:right; margin:-58px 1px">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                    <a class="btn btn-success ur" href="#/mallrokkar"> کینسل</a>
                    <button class="btn btn-success ur" data-toggle="modal" data-target="#create-user">مال آمد</button>
                </div>
            </div>
            <div class="card-content">
            	<div class="card-content table-responsive" style="overflow:visible">
            	<table class="table table-bordered pagin-table table-urdu">
                    <thead>
                        <tr>
                            <th>نمبر شمار</th>
                            <th>کھاتہ بنام </th>
                            <th>جنس </th>
                            <th>وزن</th>
                            <th>تاریخ</th>
                            <th>ایکشن</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in mall_amad_detail">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ value.name }}</td>
                            <td>{{ value.title }}</td>
                            <td>{{ value.weight }}</td>
                            <td>{{ value.date }}</td>
                            <td>
                            
                            <!--<button data-toggle="modal" ng-click="accounts_detail(value.id)" data-target="#detail" class=" btn btn-sm btn-success btn-urdu">تفصیل</button>-->
                            <!---<a href="#/accounts_detail" class="btn btn-success" ng-click="accounts_detail(value.id)">Detail</a>
                            <!--<button ng-click="accounts_detail(value.id)" class="btn btn-danger">Delete</button>-->
                            
                             
                             
                             
                             
                             
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    	
                    </tfoot>
                </table>
                <dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
            </div>            
            </div>                        
        </div>
    </div>
</div>




<!----mall amad---->
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveMallamad()">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">نیا کھاتا</h4>
            </div>
            <div class="modal-body account">
            	<div class="row">
                    <div class="col-md-6">
                    <label class="control-label urdu-lable"> فروخت کنندہ کھاتہ</label>
                        <div class="form-group label-floating">
                            
                            <select ng-model="form.saler_account" class="form-control select2" required>
                            <option ng-repeat="x in all_account" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                     </div>
                     <div class="col-md-6">
                     <label class="control-label urdu-lable">  جنس</label>
                        <div class="form-group label-floating">
                        
                        <select ng-model="form.item_id" class="form-control select2" required>
                        <option ng-repeat="x in items" value="{{x.id}}">{{x.title}}</option>
                        </select>
	                    </div>
                     </div>
                     <div class="col-md-6">
                     <label class="control-label urdu-lable"> وزن</label>
                        <div class="form-group label-floating">
                            
                            <input type="text" ng-model="form.weight" class="form-control" required="required">
                        </div>
                     </div>
                     <div class="col-md-6">
                      <label class="control-label urdu-lable"> تاریخ</label>
                        <div class="form-group label-floating">
                           
                            <input class="form-control date-picker reset" id="date" ng-model="form.date" value="" placeholder="select Date" required="required">
                        </div>
                     </div>
                </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!----end mall amad--->
<script>
	$(function () {			
		$(".select2").select2();
	});
	
$('.date-picker').datepicker( {
	changeMonth: true,
	changeYear: true,
	showButtonPanel: true,
	autoclose:true,
	todayHighlight:true,		
	format: 'dd/mm/yyyy',        
    });
	</script>