<div class="row" ng-init="accounts_rokkarr()">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title urr">چٹھا  </h4>
                      <input type="hidden" name="_token" value="{{ csrf_token() }}">
                 <a class="btn btn-danger ur" href="#/accounts">کینسل</a>
                </div>
            <div class="row" style="margin-top:10px; padding:0 0 0 23px">
            	<form method="POST" name="form_report" role="form" ng-submit="accounts_rokkarr()">                	                	
                     <div class="col-md-3">
                     	<div class="form-group label-floating" style="margin:0">
                     	<!--<input type="text" class="form-control input-sm ng-valid date_range urdu" placeholder="Search" ng-model="searchText" name="table_search" title="" tooltip="">-->
                        <input class="form-control date_range reset" id="date" required="required" ng-model="form.date" value="" placeholder="select Date">
                        </div>
                     </div>
                       <button type="submit" class="btn btn-primary ur" >تلاش کریں</button> 
                      
                </form>
            </div>
        	<div class="card-content table-responsive" style="overflow:visible" id="rokkar">
            <h2 class="title urr" align="center">چٹھا </h2>
            <div class="card-content table-responsive">
                        <table class="table table-bordered pagin-table table-urdu">
                            <thead>
                                <tr>                                	
                                    <th>نام</th>
                                    <!--<th>رقم جمع</th>
                                    <th>رقم نام</th>  -->                                  
                                    <th> بیلینس جمع</th>
                                    <th> بیلینس نام</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in naam_jama_detail">
                                	<td>{{ x.name }}</td>
                                    <!--<td>{{ x.jama_amount.toFixed(2) }}</td>
                                    <td>{{ x.naam_amount.toFixed(2) }}</td> -->                                   
                                    <td><span ng-if="x.balance>=0" >{{ x.balance.toFixed(2) }}</span></td>
                                    <td><span ng-if="x.balance<0" >{{ x.balance.toFixed(2) }}</span></td>
                                    <!--<td>{{ x.balance.toFixed(2) }}</td>-->
                                </tr>
                            </tbody>
                            <tfoot>
                            	<tr>
                                    <td><strong>ٹوٹل</strong></td>
                                    <!--<td>{{ total_naam.toFixed(2) }}</td>
                                    <td>{{ total_jama.toFixed(2) }}</td>-->
                                    <!--<td>{{ total_balance.toFixed(2) }}</td>-->
                                    <td>{{ jama.toFixed(2) }}</td>
                                    <td>{{ naam.toFixed(2) }}</td>
                                  </tr>            
                            </tfoot>
                        </table>                        
                    </div>
                    <button type="button" class="btn btn-default" ng-click="printRokkar()">Print</button> 
        </div>
   </div>
</div>
</div>
<script>
	$(function() {
		$('.date_range').daterangepicker({			
			locale: {
				format: 'DD/MM/YYYY'
			}
		});
	});
	
</script>